body {
  width: 250px;
  padding: 0;
  margin: 0;
}

.tubetube-setting-heading {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #939393;
}

.tubetube-option {
  padding: 16px 10px;
  margin: 0;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tubetube-label {
  font-size: 12px;
  color: #333;
}

/* 下拉列表样式 */
#tubetube-select-columns {
  padding: 2px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

/* 开关样式 */
.tubetube-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
}

.tubetube-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.tubetube-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 22px;
}

.tubetube-switch .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.tubetube-switch input:checked+.slider {
  background-color: #2196F3;
}

.tubetube-switch input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

.tubetube-switch input:checked+.slider:before {
  transform: translateX(22px);
}

/* 清除按钮样式 */
.tubetube-danger-zone {
  padding: 30px 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tubetube-clear-storage {
  color: #ff4d4d;
  background-color: transparent;
  border: none;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

#tubetube-clear-storage:hover {
  color: #ff3333;
}
